<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>

    <div class="fixed top-0 right-0 p-4">
        <a href="/logout" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-md">Log Out</a>  
      </div>
      
    <!-- <a href="/logout" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-md mr-4">log out</a> -->
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">DASHBOARD</h1>

        <br>
        <h2 class="text-2xl font-bold mb-4">Welcome <i><%= user.username %></i></h2>
        <div class="bg-white shadow-md rounded-lg p-4">
            <h2 class="text-xl font-bold mb-4">User Details</h2>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="font-bold">Name:</p>
                    <p> <%= user.username %> </p>
                </div>
                <div>
                    <p class="font-bold">Email:</p>
                    <p><%= user.email %></p>
                </div>
                <div>
                    <p class="font-bold">Phone:</p>
                    <p>+1 123 456 7890</p>
                </div>
                <div>
                    <p class="font-bold">Address:</p>
                    <p>123 Main St, City, Country</p>
                </div>
            </div>
        </div>
        <h2 class="text-2xl font-bold mt-8 mb-4">Dummy Information</h2>
        <div class="bg-white shadow-md rounded-lg p-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl ac aliquam tincidunt, nunc nunc lacinia tellus, ut tincidunt nisl nunc ut nunc. Sed nec nunc auctor, aliquet nisl id, aliquam nunc. Sed id nunc id nunc aliquet lacinia. Sed id nunc id nunc aliquet lacinia.</p>
        </div>
    </div>  
</body>
</html>
